
@{
    ViewBag.Title = "Admin";
}

<h2>ManageCase Administration</h2>

<p> This page is accessible only to administration.</p>

@* send to Register page /Account/Register *@
<div>
    @Html.ActionLink("Create a new User", "Register", "Account") |
</div>
<p/>
<p/>
<p/>
@* send to Register page /Account/Register *@

<div>
    @Html.ActionLink("View Audits", "Index", "Audits") |
</div>