
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<p> register a new user</p>
@* send to Register page /Account/Register *@

<div>
    @Html.ActionLink("Create a new user", "Register", "Account") |
</div>