@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <p>You have been logged out due to inactivity.  To log in, click <a href="Account/Login"></a>here.</p>
    </div>
</body>
</html>
