@model ManageCaseFour.Models.Record

@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>
<br />
<br />
<p>That department or facility already exists.  Please submit your entire request (both department and facility) again.</p>

<div>
    @Html.ActionLink("Back to List", "Index", "Case") |
    <br />
    <br />
</div>

