@model ManageCaseFour.Models.Audit

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<div>
    <p>You are not authorized to delete audit records.</p>
</div>
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
