@model ManageCaseFour.Models.NewCaseViewModel

@{
    ViewBag.Title = "Create";
}

<h2>ADD</h2>
<h4>Add a new case</h4>
<br />
<div>
    @Html.ActionLink("Back to List", "Index") |
    <br />
    <br />
</div>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div id="createNewCaseForm">
        <div>
            <form id="newCaseForm" class="well" action="/Case/Create" method="POST">
                <label>Case Name</label>
                <input type="text" id="newCaseName" name="caseName"><br />
                <br />

                <label>County</label>
                <input type="text" id="newCaseCounty" name="county"><br />
                <br />
                <label>Case Number</label>
                <input type="text" id="newCaseNumber" name="caseNumber"><br />
                <br />
                <label>Principal (Code)</label>
                <input type="text" id="newCasePrincipal" name="principalCode"><br />
                <br />
                <label>Staff (User Name)</label>
                <input type="text" id="newCaseStaff" name="UserName"><br />
                <br />
                <label>Internal Case Number (year plus last four of case number)</label>
                <input type="text" id="newCaseIntCaseNumber" name="internalCaseNumber"><br />
                <br />
                <input type="Submit" id="submitButton">
            </form>
        </div>
    </div>
}


